<div class="jumbotron">
  <h1>
    Welcome, {{classChosen.name}}.
  </h1>
</div>
<div class="container">

<div class="card">
    <div class="card-block">
        <h4><img class="card-img-top proficiency-image" src="/assets/img/rolling-dices.png" alt="Card image cap"> The {{classChosen.name}} has advantages when rolling <a href = "https://roll20.net/compendium/dnd5e/Ability%20Scores#toc_35" target = "_blank">saving throws </a>for:</h4>
    </div>
    <ul class="list-group list-group-flush">
      <div  *ngFor="let savingThrow of classChosen.saving_throws">
        <li class="list-group-item proficiency">{{savingThrow.name}}</li>
      </div>
    </ul>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title"> <img class="card-img-top proficiency-image" src="/assets/img/icons/proficiency.png" alt="Card image cap"> {{classChosen.name}} Proficiencies</h4>
    <p class="card-text">When you have proficiency in a type of armor, it means you get <a href = "https://roll20.net/compendium/dnd5e/Armor#content" target = "_blank">bonuses</a> while you are wearing it. Proficiency in a type of weapon lets you wield that type of weapon <a href = "https://roll20.net/compendium/dnd5e/Weapons#toc_1"  target = "_blank">effectively</a>.</p>
  </div>
  <ul class="list-group list-group-flush">
    <div *ngFor="let proficiency of classChosen.proficiencies">
      <li class="list-group-item proficiency">{{proficiency.name}}</li>
    </div>
  </ul>
</div>





<div *ngIf="classChosen.name == 'Monk'">
  <h3>As a monk, you can choose to be proficient in an artisan tool kit, or a musical instrument.</h3>
  <div  *ngFor="let proficiencyType of proficiencyTypes; let i = index">
    <div class="form-group">
      <label for="exampleFormControlSelect2">Choose {{proficiencyType.choose}} proficiencies</label>

      <div *ngIf="i == 0">
        <div *ngFor="let proficiencyChoice of proficiencyType.from[0].from">
          <button [class]="proficiencyChoiceStyle(proficiencyChoice, i)" (click)="clickProficiencyChoice(proficiencyChoice, i)">{{proficiencyChoice.name}}</button>
        </div>
        <div *ngFor="let proficiencyChoice of proficiencyType.from[1].from">
          <button [class]="proficiencyChoiceStyle(proficiencyChoice, i)" (click)="clickProficiencyChoice(proficiencyChoice, i)">{{proficiencyChoice.name}}</button>
        </div>
      </div>

      <div *ngIf="i == 1">
        <div *ngFor="let proficiencyChoice of proficiencyType.from">
          <button [class]="proficiencyChoiceStyle(proficiencyChoice, i)" (click)="clickProficiencyChoice(proficiencyChoice, i)">{{proficiencyChoice.name}}</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="classChosen.name != 'Monk'">
  <div class="card">
    <div  *ngFor="let proficiencyType of proficiencyTypes; let i = index">
        <h1 *ngIf ="i == 0" class="proficiency-card-title">Choose {{proficiencyType.choose}} skills you want to be proficient in</h1>
        <h1 *ngIf ="i == 1" class="proficiency-card-title">Choose {{proficiencyType.choose}} instruments you want to be proficient in</h1>
          <div [class]="proficiencyChoiceStyle(proficiencyChoice, i)" (click)="clickProficiencyChoice(proficiencyChoice, i)" *ngFor="let proficiencyChoice of proficiencyType.from">
             <img *ngIf = "i ==0" class="proficiency-icon" src="/assets/img/icons/{{proficiencyChoice.name.toLowerCase()}}.png" alt="">
              <img *ngIf = "i ==1" class="proficiency-icon" src="/assets/img/icons/performance.png" alt="">
             <div class="caption">
               <p>{{proficiencyChoice.name}}</p>
             </div>
           </div>
      </div>
    </div>
</div>



<div *ngIf="classChosen.name == 'Rogue'">
  <h1>As a rogue, you can choose to double your proficiency in two of your selected skill proficiencies.</h1>
  <div class="row">
    <div *ngFor="let proficiency of selectedChoicesArr[0]">
      <button type="button" [class]="doubledProficienciesStyle(proficiency)" name="button" (click)="doubleProficiencyClick(proficiency)">{{proficiency.name}}</button>
    </div>
  </div>
</div>

<!--Class specific information-->
<div class="headerThin">
  <h2>{{classChosen.name}} unique features</h2>
</div>

  <div class="card-group">
    <div class="card" *ngFor="let feature of featureArray">
    <h3 class="card-header">{{feature.name}}</h3>
      <div class="card-block">
        <p class="card-text">{{feature.description}}</p>
      </div>
      <div class="card-footer text-muted">
          <a href = "{{feature.url}}" class="btn btn-primary" target="_blank">Learn More</a>
      </div>
  </div>
</div>

<div *ngIf="classChosen.name == 'Fighter'">
  <h1>As a fighter, you can also choose a style of fighting.</h1>
  <div class="row">
    <div *ngFor="let specialty of fighterSpecialties" class="col-md-4">
      <div class="card">
        <img class="card-img-top fighter-specialty" src="/assets/img/rolling-dices.png" alt="Card image cap" (click)="selectFighterSpecialty(specialty)">
        <div class="card-block">
          <h4 class="card-title">{{specialty.name}}</h4>
          <p class="card-text">{{specialty.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="classChosen.name == 'Ranger'">
  <h1>As a ranger, you are particularly familiar with one type of natural Environment and are adept at traveling and surviving in such regions. Choose one type of favored terrain. <a href="https://roll20.net/compendium/dnd5e/Classes:Ranger#toc_5"> (Learn more)</a></h1>
  <div class="row">
    <div *ngFor="let terrain of terrains" class="col-md-3">
      <div class="card">
        <img class="card-img-top fighter-specialty" src="/assets/img/rolling-dices.png" alt="Card image cap" (click)="selectTerrain(terrain)">
        <div class="card-block">
          <h4 class="card-title">{{terrain}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<h1>Subclasses</h1>
<div *ngFor="let subclass of classChosen.subclasses">
  <p>{{subclass.name}}</p>
</div> -->

<button type="button" name="button" (click) = "back()">back</button>

<button *ngIf="classChosen.name == 'Bard' || classChosen.name == 'Cleric' || classChosen.name == 'Druid' || classChosen.name == 'Warlock' || classChosen.name == 'Sorcerer' || classChosen.name == 'Wizard'"type="button" class="btn btn-success" name="button" (click)="chooseSpells(classChosen)">Choose Spells</button>

<button *ngIf="classChosen.name == 'Barbarian' || classChosen.name ==  'Paladin' || classChosen.name == 'Ranger' || classChosen.name == 'Rogue' || classChosen.name == 'Monk' || classChosen.name == 'Fighter' "type="button" name="button" class="btn btn-success"(click) = "chooseRace()">Choose Race</button>

</div>
