.select-option{
  color: white;
}
.select-text{
  color: white;
}
.proficiency-select{
  background-color: black;
}
.proficiency-choice{

}
.card{
  color:black;
  margin: 10px;
}
.fighter-specialty{
  max-width: 100%;
  max-height: 100%;
}
