
<button type="button" (click)="toggleCharacterSheet()" name="button">Show Character Sheet</button>

<div *ngIf="showCharacterSheet">
  <h1 >Character Sheet:</h1>
  <h3 *ngIf="chosenClass">class: {{chosenClass.name}}</h3>

  <div *ngIf="chosenProficiencies.length>0">
    <h2>proficiencies: </h2>
    <div *ngFor="let chosenProf of chosenProficiencies; let i = index">

      <div *ngIf="chosenClass.name=='Fighter'">
          <p *ngIf="i == chosenProficiencies.length-1">Fighter Specialty:{{chosenProf.name}} - {{chosenProf.description}}</p>
          <p *ngIf= "i != chosenProficiencies.length-1">{{chosenProf.name}}</p>
      </div>

      <div *ngIf="chosenClass.name=='Ranger'">
          <p *ngIf="i == chosenProficiencies.length-1">Terrain Adeptness: {{chosenProf}}</p>
          <p *ngIf= "i != chosenProficiencies.length-1">{{chosenProf.name}}</p>
      </div>



      <div *ngIf="chosenClass.name!='Fighter' && chosenClass.name!='Ranger'">
        <p>{{chosenProf.name}}</p>
      </div>
    </div>
    <div *ngIf="chosenClass.name=='Rogue'">
        <h2>Doubled Proficiency Bonus:</h2>
        <ul>
          <li>{{chosenProficiencies[chosenProficiencies.length-2].name}}</li>
          <li>{{chosenProficiencies[chosenProficiencies.length-1].name}}</li>
        </ul>
    </div>
  </div>


  <div *ngIf="chosenCantrips">
    <h2>cantrips: </h2>
    <p *ngFor="let cantrip of chosenCantrips">{{cantrip}}</p>
  </div>

  <div *ngIf="chosenSpells">
    <h2>spells: </h2>
    <p *ngFor="let spell of chosenSpells">{{spell}}</p>
  </div>
</div>
