<div *ngIf="doneLoading && !classChosen">

  <h1>Who will you be? Choose a starting class, or <button type="button" (click)="showQuiz()" name="button">Take the Quiz!</button></h1>

  <div class="row">
    <div class="class-image-container">
      <img class="class-image" src={{classSelected.image}} alt="Card image cap">
      <div class="caption-name">
          <p>{{classSelected.name}}</p>
      </div>
      <div class="caption-description">
          <p>{{classSelected.description}}</p>
      </div>

      <div class="caption-next">
        <button type="button" class="btn btn-next" name="button" (click)="chooseClass(classSelected)">Select {{classSelected.name}}</button>
      </div>
    </div>
  </div>

<div class="thumbnails">
  <div class="class" *ngFor="let class of classArr" (click)="selectClass(class)">
    <img class="class-image-thumbnail" src={{class.image}} alt="Card image cap">
  </div>
</div>
</div>

<div *ngIf="classChosen">
  <app-proficiency-select *ngIf="!proficienciesChosen" [classChosen] = "classChosen" (backSender) = "unchooseCharacter()" (saveProficienciesSender) = "saveProficienciesSender($event)" (chooseSpellsSender)="chooseSpells()" (chooseRaceSender) = "chooseRace()"></app-proficiency-select>


  <app-spell-select *ngIf="proficienciesChosen" [classChosen]="classChosen" (unchooseSpellsSender) = "unchooseProficiencies()" (spellsChosenSender)="spellsChosen($event)"></app-spell-select>
</div>
