
<div class="splash" *ngIf ="!showCharacterSelect">
  <div >
    <h1 id="title">DND Character Maker</h1>

    <div class="container" *ngIf="!showCharacterSelect && classArr.length>0">
      <div class="input-group input-group-lg" >
      <input type="text" class="form-control" placeholder="Your character's name..." aria-describedby="sizing-addon1" [(ngModel)] ="charName" (keyup)= "onKey($event)">
      </div>

      <button class="btn create-btn btn-success" *ngIf="charNameValid" (click) = "newCharacterBtnClick()" id="sizing-addon1">Start!</button>
    </div>

  </div>
</div>

<div *ngIf ="showCharacterSelect">

    <div *ngIf="!takingQuiz">

    <app-class-select *ngIf="!showRaceSelect" [doneLoading] = "doneLoading" (showQuizSender)="showQuiz()" (chooseClassSender) = "chooseClass($event)" (unchooseClassSender) = "unchooseClass()" (proficienciesChosenSender) = "proficienciesChosen($event)" [allClasses] = "allClasses" [classArr] = "classArr" [classChosen] = "classChosen" (spellsChosenSender) = "spellsChosen($event)" (classFinishedSender)="classFinished()"></app-class-select>

    <app-race-select *ngIf="showRaceSelect"></app-race-select>

    <app-character-sheet [chosenClass] = "classChosen" [chosenProficiencies] = "chosenProficiencies" [chosenCantrips] = "chosenCantrips" [chosenSpells] = "chosenSpells"></app-character-sheet>

  </div>

  <app-class-quiz *ngIf="takingQuiz" (backSender) = "leaveQuiz()"></app-class-quiz>
</div>
