
<div *ngIf ="!showCharacterSelect">
<h1>D&D Character Maker</h1>

<button (click) = "newCharacterBtnClick()" *ngIf="!showCharacterSelect"  type="button" class="btn btn-success" name="button" >New Character </button>

</div>

<div *ngIf ="showCharacterSelect">

  <div *ngIf="!takingQuiz">

  <app-class-select *ngIf="!showRaceSelect"(showQuizSender)="showQuiz()" (raceChosenSender) = "chooseRace()"></app-class-select>

  <app-race-select *ngIf="showRaceSelect"></app-race-select>
  <app-character-sheet></app-character-sheet>
  </div>


    <app-class-quiz *ngIf="takingQuiz" (backSender) = "leaveQuiz()"></app-class-quiz>


</div>
